.panel
  .panel-body
    .container
      - { email: "Email", \
          telephone: "Telephone", \
          address_line_1: "House name/number", \
          address_line_2: "Street", \
          address_link_3: "Area", \
          city: "City", \
          postal_code: "Postcode", \
          country_code: "Country" \
        }.each do |attr, name|
        .row
          .col-sm-3= "#{name}:"
          .col-sm-5= details[attr]
